<div class="aboult">
    <h1>Who We Are</h1>
    <div class="container">
        <div class="content">
            <h2>We live with creativity</h2>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
        </div>
        <div class="creation">
            <img src="./webclone/img/creativity.png" alt="">
        </div>
    </div>
    <div class="team">
        <div class="team_member">
            <img src="./webclone/img/img-1.jpg" alt="">
            <h2>John Doe</h2>
            <span>Art director</span>
        </div>
        <div class="team_member">
            <img src="./webclone/img/img-2.jpg" alt="">
            <h2>Mike Doe</h2>
            <span>Web develop</span>
        </div>
        <div class="team_member">
            <img src="./webclone/img/img-3.jpg" alt="">
            <h2>Neil Doe</h2>
            <span>Web designer</span>
        </div>
        <div class="team_member">
            <img src="./webclone/img/img-4.jpg" alt="">
            <h2>Mark Joe</h2>
            <span>UI designer</span>
        </div>
        <div class="team_member">
            <img src="./webclone/img/img-5.jpg" alt="">
            <h2>Stephen B</h2>
            <span>Digitial imaging</span>
        </div>
    </div>
</div>