<div class="Blog">
    <h1>Our Blog</h1>
    <div class="blogs">
        <div class="blog">
            <img src="./webclone/img/img1.jpg" alt="">
            <div class="blog-info">June 19,2013  Design,Blog</div>
            <div class="blog-detail">
                <h3>New design trends</h3>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. …</span>
                <h5>Read more</h5>
            </div>
        </div>
        <div class="blog">
            <img src="./webclone/img/img2.jpg" alt="">
            <div class="blog-info">June 19,2013  Design,News</div>
            <div class="blog-detail">
                <h3>New design trends</h3>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. …</span>
                <h5>Read more</h5>
            </div>
        </div>
        <div class="blog">
            <img src="./webclone/img/img3.jpg" alt="">
            <div class="blog-info">June 22,2013  Design,Tips</div>
            <div class="blog-detail">
                <h3>New design trends</h3>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. …</span>
                <h5>Read more</h5>
            </div>
        </div>
        <div class="blog">
            <img src="./webclone/img/img4.jpg" alt="">
            <div class="blog-info">June 27,2013  Design,Tutorial</div>
            <div class="blog-detail">
                <h3>New design trends</h3>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. …</span>
                <h5>Read more</h5>
            </div>
        </div>
    </div>
    <div class="post-blog">
        <div>More Blog Post</div>
    </div>
    <div class="loading">
        <h3>Loading tweets...</h3>
    </div>
</div>