<div class="contact">
    <h1>Get in Touch</h1>
    <div class="statement">
        <span>
            Reque facer nostro et ius, cu persius mnesarchum disputando eam, clita prompta et mel vidisse phaedrum pri et. Facilisis posidonium ex his. Mutat iudico vis in, mea aeque tamquam scripserit an, mea eu ignota viderer probatus. Lorem legere consetetur ei eum. Sumo aeque assentior te eam, pri nominati posidonium consttuam
        </span>
    </div>
    <div class="details">
        <div class="contactive-style">
            <input type="text" class="name" placeholder="Your Name">
            <input type="text" class="e-mail" placeholder="Your Mail">
            <input type="text" class="subject" placeholder="Your Subject">
        </div>
        <div class="additions">
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="msg">
            <div class="sendMsg">Send Message</div>
        </div>
    </div>
</div>