<div class="maxmi">
    <div class="logo">
        <img src="./webclone/img/logo.png" alt="">
    </div>
    <div class="flexSlider">
        <ul>
            <li>CREATIVE AND PASSITIVE</li>
            <li>EAT ADN DRINK DESIGN</li>
            <li>WE LOVE SIMLICITY</li>
        </ul>
    </div>
    <div class="scrollMsg">
        <button>∧</button>
        <button>∨</button>
    </div>
    <div class="content">
        <div class="large">
            There's huge space between creativity and imagination<br>
            <span>--Mark Simmons,Nett Media</span>
        </div>
        <div class="coffe">
            <!--<img src="" alt="">-->
        </div>
    </div>
</div>