<div class="service">
    <h1>Services</h1>
    <div class="container">
        <div class="content">
            <div class="service-type">
                <img src="./webclone/img/laptop.png" alt="">
                <h2>Web Design</h2>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>
            <div class="service-type">
                <img src="./webclone/img/lab.png" alt="">
                <h2>Web Development</h2>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>
            <div class="service-type">
                <img src="./webclone/img/camera.png" alt="">
                <h2>Photography</h2>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>
            <div class="service-type">
                <img src="./webclone/img/basket.png" alt="">
                <h2>Ecommerce</h2>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>
        </div>
    </div>
</div>