<div class="works">
    <h1>Our Works</h1>
    <div class="work-type">
        <span>All</span>
        <span>Web</span>
        <span>Print</span>
        <span>Design</span>
        <span>Photograph</span>
    </div>
    <!--<div class="types" *ngFor="let type of types">
        <img src=type.url alt="">
    </div>-->
    <div class="bg">
        <div class="content">
            <h1>We are an extablished and trusted web agency with a reputation for commitment and high integrity</h1>
        </div>
    </div>
</div>